* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.1);
}

.gallery-image {
  width: 360px;
  height: 200px;
}
