input#datetime-picker {
  margin-top: 24px;
  padding: 8px 16px;
  border: 2px solid #4e75ff;
  font-size: 16px;
  border-radius: 8px;
  width: 272px;
  height: 40px;
  box-sizing: border-box;
}

button[data-start] {
  margin-left: 8px;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button[data-start]:hover {
  background-color: #6c8cff;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
}

.label {
  font-size: 16px;
  text-transform: uppercase;
}
