.form-page {
  background-color: #f5f5f5;
}

.feedback-form {
  width: 408px;
  margin: 24px auto;
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
  box-sizing: border-box;
  text-align: left;
}

.feedback-form label {
  display: block;
  margin-bottom: 8px;
  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  width: 100%;
  padding: 16px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 8px;
  font-size: 14px;
  resize: vertical;
  box-sizing: border-box;
  color: #2e2f42;
}

.feedback-form button {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  border: none;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
